body {
    background-color: #61c2ff;
}

[v-cloak] {
    display: none;
}

.loading {
    position: relative;
    padding-left: 5px;
    margin-left: 20px;
}

@keyframes spinner {
    to { transform: rotate(360deg); }
}

.loading:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spinner .6s linear infinite;
}

.app-wrapper {
    position: relative;
    width: auto;
}

@media only screen and (min-width: 768px) {
    .app-wrapper {
        margin: 30px auto;
        width: 740px;
    }
}

.app-container {
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    background-color: #fff;
    margin: 10px;
}

.app-header {
    border-bottom: 1px solid #ccc;
    padding: 15px;
}

.app-header h3 {
    margin: 0;
}

.app-body {
    padding: 15px;
}

.year-select {
    font-size: small;
    font-weight: normal;
    background: transparent;
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    border-color: #ccc;
    padding: 2px;
}

tr.future {
    background-color: #d7f5c4;;
}

.al-cost {
    font-family: monospace;
    color: #666;
}

.sortable {
    cursor: pointer;
}

.sorter {
    font-weight: bold;
    font-size: larger;
}