html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #61c2ff;
}

.loading {
    position: relative;
    padding-left: 5px;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

.loading:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spinner .6s linear infinite;
}
